<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./phpunit.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    
    <php>  
        <var name="Aura_SqlSchema_Setup_MysqlSetup__dsn" value="mysql:host=127.0.0.1" />
        <var name="Aura_SqlSchema_Setup_MysqlSetup__username" value="root" />
        <var name="Aura_SqlSchema_Setup_MysqlSetup__password" value="" />

        <var name="Aura_SqlSchema_Setup_PgsqlSetup__dsn" value="pgsql:host=127.0.0.1;dbname=test" />
        <var name="Aura_SqlSchema_Setup_PgsqlSetup__username" value="postgres" />
        <var name="Aura_SqlSchema_Setup_PgsqlSetup__password" value="" />

        <var name="Aura_SqlSchema_Setup_SqliteSetup__dsn" value="sqlite::memory:" />
        <var name="Aura_SqlSchema_Setup_SqliteSetup__username" value="" />
        <var name="Aura_SqlSchema_Setup_SqliteSetup__password" value="" />

        <var name="Aura_SqlSchema_Setup_SqlsrvSetup__dsn" value="sqlsrv:Server=localhost\\SQLEXPRESS;Database=test" />
        <var name="Aura_SqlSchema_Setup_SqlsrvSetup__username" value="" />
        <var name="Aura_SqlSchema_Setup_SqlsrvSetup__password" value="" />
    </php>
</phpunit>
