<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./phpunit.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>

    <php>
 
        <var name="Rotexsoft_SqlSchema_Setup_MysqlSetup__dsn" value="mysql:host=localhost" />
        <var name="Rotexsoft_SqlSchema_Setup_MysqlSetup__username" value="root" />
        <var name="Rotexsoft_SqlSchema_Setup_MysqlSetup__password" value="root" />

        <var name="Rotexsoft_SqlSchema_Setup_PgsqlSetup__dsn" value="pgsql:host=localhost" />
        <var name="Rotexsoft_SqlSchema_Setup_PgsqlSetup__username" value="postgres" />
        <var name="Rotexsoft_SqlSchema_Setup_PgsqlSetup__password" value="root" />

        
        <var name="Rotexsoft_SqlSchema_Setup_SqliteSetup__dsn" value="sqlite::memory:" />
        <var name="Rotexsoft_SqlSchema_Setup_SqliteSetup__username" value="" />
        <var name="Rotexsoft_SqlSchema_Setup_SqliteSetup__password" value="" />

<!--
        <var name="Rotexsoft_SqlSchema_Setup_SqlsrvSetup__dsn" value="sqlsrv:Server=localhost\\SQLEXPRESS;Database=test" />
        <var name="Rotexsoft_SqlSchema_Setup_SqlsrvSetup__username" value="" />
        <var name="Rotexsoft_SqlSchema_Setup_SqlsrvSetup__password" value="" />
-->
    </php>
</phpunit>
